[Desktop Entry]
Name=Logism-evolution
GenericName=Logism-evolution (Steven Derrien fork)
Comment=Logism-evolution (Steven Derrien fork)
Categories=Development;
Exec=/usr/bin/java -jar /usr/bin/logisim-evolution/logisim-evolution.jar
Icon=/usr/share/icons/niri-bluebuild/apps/logisim-evolution.png
Type=Application
